*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 150px 50px;
}

.check {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    min-height: 200px;
}

.check_desc {
    text-transform: uppercase;
    color: rgb(4 2 36);
    margin: 12px;
}

.btn-search {
    border-radius: 20px;
    border: 2px solid rgb(232, 232, 232);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 360px;
    margin: 20px 30px;
    cursor: text;
    transition: border-color .2s ease-in-out;
    
}
.btn-search:focus-within {
    border-color: #444;
}


.search-input {
    border: none;
    outline: none;
    line-height: 28px;
    width: 297px;
    margin-left: 15px;
    

}

.btn-search button {
    border: none;
    background-color: #fff;
    height: 20px;
    margin-right: 2px;
    cursor: pointer;
}

.ti-search {
    color: rgb(196, 196, 196);
    /* margin: 8px; */
    font-size: 20px;
    padding: 10px;
    transition: color .2s ease-in-out;
}

.btn-search:focus-within .ti-search {
    color: #444;
}




.check #result {
    margin-top: 20px;
    font-size: 18px;
}

.hide {
    display: none !important;
}


.result-page {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    /* display: none; */
    /* animation: modalfadein ease 0.3s; */
}

.result-container {
   
        background-color: #fff;
        width: 1500px;
        min-height: 200px;
        position: relative;
        max-width: 70%;
        box-shadow: 2px 2px 10px black;
        border-radius: 10px;

        animation: modalfadein ease 0.3s;
   
}

.result-header {
    width: 100%;
    background-color: rgb(4 2 36);
    height: 59px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}


.ti-angle-double-left,
.ti-angle-left {
    font-size: 25px;
}

.modal-close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    
}

.modal-double-close{
    position: absolute;
    top: 0;
    left: 57px;
    padding: 16px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.modal-close:hover {
    background-color: #9fc9f0;
    color: black;
    border-top-left-radius: 10px;
}

.modal-double-close:hover {
    background-color: #9fc9f0;
    color: black;
    
}



.desc {
    line-height: 60px;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
}

.result-slider {

}

.slider-content {
    margin: 24px;
}

.slider-msv,
.slider-name,
.slider-date,
.slider-classname,
.slider-major {
    padding: 6px 0;
    font-size: 18px;
}



.slider-kq,
.slider-msvNoPass {
    padding: 12px 0;
    font-size: 20px;
    line-height: 1.5;
}

.slider-timeIn {
    padding: 12px 0;
    font-size: 18px;
    line-height: 1.5;
}



.result-footer {
    display: flex;
    justify-content: right;
    height: 16px;
}

.btn_contact_fp {
    
    
    background: rgb(4 2 36);
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(40, 37, 86);
   
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    position: relative;
    transform: translateY(-4px);

    
}

.btn_contact_fp:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 5px 0px black;
}


.btn_contact_more {
    margin: 0 30px;
    
    background: rgb(4 2 36);
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(40, 37, 86);
   
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    width: 140px;
    height: 40px;
    position: relative;
    transform: translateY(-4px);
}

.btn_contact_more:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 5px 0px black;
}



.contact-page {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    /* display: none; */
    /* animation: modalfadein ease 0.3s; */
}

.contact-container {
   
        background-color: #fff;
        width: 1500px;
        min-height: 200px;
        position: relative;
        max-width: 70%;
        box-shadow: 2px 2px 10px black;
        border-radius: 10px;

        animation: modalfadein ease 0.3s;
   
}

.contact-header {
    width: 100%;
    background-color: rgb(4 2 36);
    height: 59px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.contact-slider {
    min-height: 480px;
    padding: 32px 8px;
    margin-left: -16px;
    margin-right: -16px;
}

.contact-item {
    width: 33.33%;
    padding: 20px;
    float: left;
    
}

.contact-img {
    width: 150px;
    border-radius: 10%;
    box-shadow: 2px 2px 10px black;
    margin-bottom: 16px;
}

.contact-name {
    font-size: 16px;
    margin: 8px;
    margin-bottom: 28px;
    text-transform: uppercase;
    font-weight: bold;
    
}
    
.contact-chucvu {
    font-size: 16px;
    margin: 8px;
    color: rgb(74, 74, 74);
}

.contact-zalo img,
.contact-dt img {
    width: 22px;
    margin: 0 6px;
}

.contact-fb,
.contact-mail {
    padding: 2px;
    margin: 2px;
    text-decoration: none;
    color: #000;
}

.ti-facebook,
.ti-email {
    font-size: 22px;
}

.contact-hotline {
    font-size: 14px;
    margin-top: 12px;
}

.contact-email {
    font-size: 14px;
    margin-top: 6px;    
}

.lui {
    transform: translateY(30px);
}



@keyframes modalfadein {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}